/* Your styles should be mobile-first and responsive */
h1 {
  text-align: center;
  font-family: Cursive, serif;
  font-style: italic;
}

body {
  background-color: rgb(4, 1, 36);
  color: white;
}

h1 {
  margin-left: 25px;
}

p {
  font-family: Trebuchet MS;
  font-size: 28px;
}

.welcome, .quiz-interface, .answer-response, .quiz-results {
  font-family: Arial;
  margin: 20px;
  padding: 25px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
}

ol li {
  font-size: 24px;
  margin: 10px;
}

input[type="radio"] {transform: scale(1.4)}

.quiz-results {
  text-align: center;
}

.submit-answer, .quiz-results, .next-question, .see-results, #startQuiz, .restart-quiz {
  font-family: Arial;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}



/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
